* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

.container {
	max-width: 80%;
	margin: 0 auto;
}

img {
	max-width: 100%;
}

.content-title {
	padding: 1px 0;
	background: #ddd;
	margin: 0 0 50px 0;
}

.content-adv {
	padding: 30px 0;
	text-align: center;
}